@page
@model Smart.FA.Catalog.Showcase.Web.Pages.TrainerDetailModel
@{
}

<section class="trainer-card">
    <div class="trainer-card__title">
        Césarine Lecerf
    </div>
    <div class="trainer-card__fonction">
        Formatrice
    </div>
    <div class="trainer-card__details">
        <div class="trainer-card__image">
            <img src="./images/Julie-Mayer.jpeg" class="trainer-image" />
        </div>
        <div class="trainer-card__details-txts">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ullamcorper tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis eget varius nisl, et eleifend est. In condimentum, arcu eget ornare aliquam,
            urna quam luctus quam, ut vestibulum nulla turpis ultricies lectus. Nunc gravida gravida feugiat. Quisque pellentesque libero in massa fringilla, vel gravida ex ultricies. Proin in mi dolor. Fusce mollis neque tellus, vel malesuada nibh malesuada
            vitae. Curabitur sed ultrices nulla. Donec vulputate quis lorem ut ultricies. Nulla vestibulum suscipit aliquet. Aliquam dictum justo posuere, iaculis orci quis, viverra enim. Vivamus nec leo et est hendrerit tempus. Aliquam viverra dapibus
            elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse sit amet aliquet ligula, id consequat lectus.
        </div>
        <div class="trainer-card__contacts">
            <ul>
                <li class="trainer-card__trainer-links">
                    <a href="#" target="_blank" class="trainer-card__trainer-link"> https://janewong.io</a>
                </li>
                <li class="trainer-card__trainer-links">
                    <a href="#" target="_blank" class="trainer-card__trainer-link"><img src="./icons/twitter.svg" class="o-svg-icon--small contact-icon" /> /jane_wong</a>
                </li>
                <li class="trainer-card__trainer-links">
                    <a href="#" target="_blank" class="trainer-card__trainer-link"><img src="./icons/instagram.svg" class="o-svg-icon--small contact-icon" /> /janewong</a>
                </li>
                <li class="trainer-card__trainer-links">
                    <a href="#" target="_blank" class="trainer-card__trainer-link"><img src="./icons/facebook.svg" class="o-svg-icon--small contact-icon" /> /janewong</a>
                </li>
                <li class="trainer-card__trainer-links">
                    <a href="#" target="_blank" class="trainer-card__trainer-link"><img src="./icons/github.svg" class="o-svg-icon--small contact-icon" /> /janewong</a>
                </li>
                <li class="trainer-card__trainer-links">
                    <a href="#" target="_blank" class="trainer-card__trainer-link"><img src="./icons/linkedin.svg" class="o-svg-icon--small contact-icon" />/janewong/</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="trainer-card__trainings">
        <div class="trainer-card__trainings-label">
            Formations à suivre
        </div>
        @*Loop on trainings by this trainer / order random*@
        <div class="training-list__container">
            <div class="training-list__container-left">
                <div class="training-list__title">
                    <a class="training-list__training-link" asp-page="TrainingDetail" asp-route-id="1">Diversifier les ressources associatives</a>
                </div>
                <div class="training-list__category">
                    <img src="./icons/tag--blue.svg" class="o-svg-icon--small sectors-icon" />
                    <!-- Boucle sur les secteurs/categories/matières rattachés à la formation -->
                    @*Start loop*@
                    <a class="training-list__category-link" asp-page="TrainingsList" asp-route-cat="TopicName">TopicName</a>
                        @*If not last item: add ", " after item*@
                    @*End loop*@
                </div>
            </div>
            <div class="training-list__container-right">
                <div class="training-list__more">
                    <a class="training-list__more-link" asp-page="TrainingDetail" asp-route-id="1">><img src="./icons/chevron-right--blue.svg" class="o-svg-icon--large chevron-icon" /></a>
                </div>
            </div>
        </div>
        @*End of loop*@
    </div>
    <div class="trainer-card__footer">
        <div class="trainer-card__back">
            <a class="trainer-card__back-link" asp-page="TrainersList">
                <img src="./icons/chevron-left--blue.svg" class="o-svg-icon--small chevron-icon" />Tous les formateur·trices
            </a>
        </div>
    </div>
</section>
